{% extends "base.html" %}
{% block body %}

<div class="row">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ url_for('index') }}">Run tasks</a></li>
            <li><a href="{{ url_for('logs') }}">Task logs</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Available tasks</h2>
        <p>
        {{ docstring|default(' ', true) }}
        </p>
    </div>

    {% for name, task in tasks.iteritems()|sort() %}
    <div class="span6">
        <div class="alert alert-block">
            <h4 class="alert-heading">{{ name }}</h4>
            <p>{{ task.__doc__|default('',true)|safe() }}</p>
            <p><small>
            {% if task.last_run %}
                Last executed on {{ task.last_run }}
            {% else %}
                Task never executed
            {% endif %}
            </small></p>
            <div class="alert-actions">
                <a class="btn task" href="{{ url_for('run') }}" rel="{{ name }}">Run task »</a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="output-box" class="modal hide fade">
        <div class="modal-header">
          <h3>Task output</h3>
        </div>
        <div class="modal-body">
            <pre id="output" data-url="{{ url_for('output') }}" style="height : 200px; overflow-y: scroll;">
            </pre>
        </div>
        <div class="modal-footer">
              <a href="#" class="btn primary close-button">Close</a>
        </div>
    </div>

</div>

{% endblock %}
