{% extends "base.html" %}
{% block body %}

<div class="row">
    <div class="span16">
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('index') }}">Run taks</a></li>
            <li class="active"><a href="{{ url_for('logs') }}">Task logs</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Last task logs</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Taskname</th>
                    <th>User</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.taskname }}</td>
                    <td>{{ log.user }}</td>
                    <td>{{ log.start }}</td>
                    <td>{{ log.end|default('', True) }}</td>
                    <td><a href="{{ url_for('static', filename='logs/%s.txt' % log.id ) }}">View log</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
